<div class="row">
  <div class="col-lg-2 col-md-4 col-ms-6 mb-3" *ngFor="let photo of photos">
    <div class="card-img-wrapper">
      <img
        src="{{ photo.url }}"
        class="img-thumbnail p-1"
        alt=""
      />
    </div>
    <div class="text-center">
      <button
        type="button"
        class="btn btn-ms btn-success mr-2"
        (click)="approvePhoto(photo.id)"
      >
        Approve
      </button>
      <button
        type="button"
        class="btn btn-ms btn-danger"
        (click)="rejectPhoto(photo.id)"
      >
        Reject
      </button>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination">
  <pagination
    [boundaryLinks]="true"
    [rotate]="true"
    [maxSize]="7"
    [totalItems]="pagination.totalItems"
    [itemsPerPage]="pagination.itemsPerPage"
    [(ngModel)]="pagination.currentPage"
    (pageChanged)="pageChanged($event)"
    previousText="&lsaquo;"
    nextText="&rsaquo;"
    firstText="&laquo;"
    lastText="&raquo;"
  >
  </pagination>
</div>
